.add-basket-wrapper{
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0px;
	left: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(64, 64, 64, 0.42);
	.add-basket-content{
		border-radius: 27px;
		background-color: #ffffff;
		width: 680px;
		height: 670px;
		box-sizing: border-box;
		padding-top: 75px;
		display: flex;
		flex-direction: column;
		align-items: center;
		.add-basket-content-header{
			color: #001fff;
			font-size: 1.5rem;
		}
		.add-basket-continue-btn{
			width: 355px;
			height: 65px;
			border-radius: 33px;
			background-color: #001fff;
			color: #ffffff;
			font-family: 'HelveticaRoundedLT-Bold';
			font-size: 1.5rem;
			border: none;
			outline: none;
			margin-top: 20px;
			margin-bottom: 30px;
			cursor: pointer;
		}
		.add-basket-buy-btn{
			color: #001fff;
			cursor: pointer;
			font-size: 1.5rem;
			font-family: 'HelveticaRoundedLT-Bold';
			background-color: transparent;
			border: none;
			outline: none;
		}
	}
}