@media screen and (max-width: 1600px){
	.basket-item{
		width: 650px;
		height: 200px;
		border-radius: 15px;
		padding: 10px 50px 10px 10px;
		.art-data{
			.basket-item-art{
				margin-right: 15px;
				border-radius: 10px;
			}
			.art-info{
				.art-name{
					font-size: 1rem;
					margin-bottom: 3px;
				}
				.owner-info{
					display: flex;
					align-items: center;
					.art-owner-name{
						font-size: 0.6rem;
						margin-right: 10px;
					}
					.art-owner-avatar{
						max-width: 25px;
						max-height: 25px;
					}
				}
			}
		}
		.price-data{
			.art-price{
				font-size: 1.5rem;
			}
			.nameplate{
				font-size: 0.6rem;
				&:last-child{
					margin-top: 8px;
				}
			}
		}
		&:not(:last-child){
			margin-bottom: 10px;
		}
		.art-delete{
			position: absolute;
			top: 10px;
			right: 10px;
			font-size: 1.2rem;
		}
	}
}