.content{
	// flex-direction: column;
}
.tape{
	width: 930px;
	border-radius: 30px;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	overflow: hidden;
	margin-left: 110px;
	margin-top: 45px;
	background-color: #fff;
}