@media screen and (max-width: 1600px){
	.my-articles-content{
		margin-top: 20px;
		border-radius: 15px;
		padding: 30px 20px 30px 25px;
		.add-article{
			width: 40px;
			height: 40px;
			svg{
				color: #001fff;
				font-size: 1rem;
			}
		}
		.my-article-content-item{
			&:not(:last-child){
				margin-bottom: 20px;
			}
			.my-article-content-item-image{
				width: 170px;
				height: 110px;
				margin-right: 20px;
			}
			.my-article-content-item-info{
				.my-article-content-item-header{
					font-size: 0.7rem;
					margin-bottom: 5px;
					cursor: pointer;
				}
				.my-article-content-item-text{
					font-size: 0.5rem;
					line-height: 0.7rem;
					overflow : hidden;
					padding-right: 22px;
					text-overflow: ellipsis;
					-webkit-line-clamp: 2;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					position: relative;
					&-more{
						position: absolute;
						bottom: 0;
						right: 0px;
						color: #001fff;
						cursor: pointer;
					}
					&-all{
						display: block;
						.my-article-content-item-text-more{
							display: none;
						}
					}
				}
			}
			.my-article-estimation{
				margin-left: 130px;
				.likes{
					span{
						font-size: 0.6rem;
					}
					svg{
						height: 15px;
						margin-left: 6px;
					}
				}
				.views{
					margin-left: 13px;
					span{
						font-size: 0.6rem;
					}
					svg{
						height: 15px;
						margin-left: 10px;
					}
				}
			}
		}
	}
}