.my-article-content{
	width: 100%;
	.breadcrumbs{
		display: none;
	}
	.current-article{
		border-bottom: 1px solid #848484;
		padding-bottom: 10px;
		margin-bottom: 25px;
	}
	.my-articles-content{
		background-color: transparent;
		padding: 0px;
		box-shadow: none;
		padding-top: 35px;
		border-top: 1px solid #848484;
		border-radius: unset;
	}
}