.pay-content{
	display: flex;
	width: 100%;
	margin-top: 50px;
	.form-pay{
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 760px;
		min-width: 760px;
		border-radius: 30px;
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
		background-color: #ffffff;
		box-sizing: border-box;
		padding: 20px 30px 135px 30px;
		position: relative;
		margin-right: 40px;
		.form-header{
			color: #848484;
			font-size: 1.1rem;
			width: 100%;
		}
		.form-title{
			font-size: 0.9rem;
			color: #848484;
			margin-top: 10px;
		}
		input{
			font-size: 0.9rem;
			height: 35px;
			border: none;
			border-bottom: 1px solid #e1e1e1;
			font-family: 'HelveticaRoundedLT-Bold';
			margin-bottom: 15px;
			outline: none;
			padding: 0;
			color: #848484;
			&:focus{
				border-bottom: 1px solid #848484;
			}
			&::placeholder{
				color: #e1e1e1;
			}
		}
		.full-input{
			width: 100%;
		}
		.middle-input{
			width: 320px;
		}
		.small-input{
			width: 200px;
		}
		.smaller-input{
			width: 160px;
			margin-right: 100px;
		}
		.accept-form{
			display: flex;
			align-items: center;
			width: 100%;
			margin-top: 20px;
			cursor: pointer;
			.accept-checkbox{
				width: 19px;
				height: 19px;
				border: solid 1px #001fff;
				border-radius: 50%;
				margin-right: 15px;
			}
			.accept-title{
				color: #848484;
				font-size: 0.9rem;
				span{
					text-decoration: underline;
				}
			}
		}
		.pay-btn{
			border: none;
			position: absolute;
			bottom: 25px;
			width: 200px;
			left: calc(50% - 100px);
			height: 65px;
			border-radius: 33px;
			background-color: #001fff;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #ffffff;
			font-size: 1.5rem;
			font-family: 'HelveticaRoundedLT-Bold';
			cursor: pointer;
			outline: none;
		}
	}
	.total-pay{
		width: 100%;
		height: 108px;
		max-width: 580px;
		border-radius: 30px;
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
		background-color: #ffffff;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0px 35px;
		font-size: 2.5rem;
		.total-title{
			color: #848484;
		}
		.total-price{
			color: #001fff;
		}
	}
}